.wrapper-header {
  background-color: rgba(38, 46, 60, 1);
  position: fixed;
  @include fill-parent();
}

.header-main {
  @include outer-container()
}

.site-title {
  font-size: $base-font-size * 1.5;
  line-height: $base-line-height * 1.5;
  font-weight: 300;
  @include span-columns(6);
  &,
  &:visited {
    color: #fff;
  }

  @include media($small) {
    @include span-columns(4);
  };
}

.site-nav {
  @include span-columns(6);
  @include media($small) {
    @include span-columns(4);
  }

  ul {
    @include row();
  };

  .page-link {
    display: block;
    font-size: 0.7em;
    text-transform: uppercase;
    line-height: 54px;
    float: right;
    margin-left: 20px;
    padding: 0 1em;
    font-weight: 700;
    letter-spacing: 1px;

    &:hover {
      background: #33475F;
    };
  };
}

.page-link a {
  color: #fff;
  text-decoration: none;
}
